/* File: styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #FFC107;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FF4D4D;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
}

.container img {
    max-width: 50%; /* Giới hạn chiều rộng của ảnh */
    height: auto;
    border-radius: 10px;
    margin-right: 20px; /* Khoảng cách giữa ảnh và nội dung */
}

.container .content {
    max-width: 50%;
}

h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 15px;
    background-color: #FF4D4D;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 16px;
    margin: 5px 0;
    color: #666;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.buy-now {
    background-color: #FF4D4D;
}

.add-to-cart {
    background-color: #FFC107;
}

a {
    text-decoration: none;
    color: aliceblue;
}