html {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
}

th {
    background-color: #1e73be;
    color: white;
}

tr:nth-last-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr:hover {
    background-color: #1e73be;
}
